* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

header #picture img {
	height: 300px;
	width: 300px;
	
	/*outline*/
	border: 3px groove #737373;
}

header {
	background-image: url('https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?cs=srgb&dl=pexels-juan-733475.jpg&fm=jpg');
	background-position: center;

}

header div > h1 {
	font-family: 'Raleway', sans-serif;
}
