* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

header #picture img {
	height: 300px;
	width: 300px;
	
	/*outline*/
	border: 3px groove #737373;
}

header {
	background-image: url('https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?cs=srgb&dl=pexels-andrew-neel-3178786.jpg&fm=jpg');
	height: 1000px;
	width: 1000px;
}
